<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="cn" connectionString="Data Source=DESKTOP-T64O1IM\SQLEXPRESS;Initial Catalog=FlowerShop;Integrated Security=True;"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<!--<appSettings>
		<add key="parentTable" value="FlowerData"/>
		<add key="parentPrimaryKey" value="ftid"/>
		<add key="childTable" value="Flowers"/>
		<add key="childForeignKey" value="ftid"/>
		<add key="server" value="DESKTOP-T64O1IM\SQLEXPRESS"/>
		<add key="database" value="FlowerShop"/>
		<add key="ChildNumberOfColumns" value="3"/>
		<add key="ChildColumnNames" value="fid,ftid,flowerName"/>
		<add key="ColumnNamesInsertParameters" value ="@fid,@ftid @flowerData"/>
		<add key ="UpdateQuery" value="UPDATE Flowers SET fid=@fid,ftid=@ftid,flowerName=@flowerName WHERE fid=@fid"/>
		<add key ="AddQuery" value="INSERT INTO Flowers(fid,ftid,flowerName) VALUES(@fid,@ftid,@flowerName)"/>
		<add key="DeleteQuery" value="DELETE FROM Flowers WHERE fid=@fid"/>
	</appSettings>-->
	<appSettings>
		<add key="parentTable" value="Greenhouses"/>
		<add key="parentPrimaryKey" value="gid"/>
		<add key="childTable" value="Employees"/>
		<add key="childForeignKey" value="gid"/>
		<add key="server" value="DESKTOP-T64O1IM\SQLEXPRESS"/>
		<add key="database" value="FlowerShop"/>
		<add key="database" value="FlowerShop"/>
		<add key="ChildNumberOfColumns" value="5"/>
		<add key="ChildColumnNames" value="eid,gid,firstName,lastName,salary"/>
		<add key="ColumnNamesInsertParameters" value ="@eid,@gid,@firstName,@lastName,@salary"/>
		<add key ="UpdateQuery" value="UPDATE Employees SET eid=@eid,gid=@gid,firstName=@firstName,lastName=@lastName,salary=@salary WHERE eid=@eid"/>
		<add key ="AddQuery" value="INSERT INTO Employees(eid,gid,firstName,lastName,salary) VALUES(@eid,@gid,@firstName,@lastName,@salary)"/>
		<add key="DeleteQuery" value="DELETE FROM Employees WHERE eid=@eid"/>
	</appSettings>
</configuration>